body {
  font-family: sans-serif;
  text-align: center;
  background: #ffffff;
}

header {
  color: #0099FF;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

#feedbackbox {
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ededed;
  width: 70%;
}

#intro {
  color: #000000;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

#intro > span {
  font-weight: bold;
  margin: 5px;
}

#feedbackbox textarea {
  font-family: sans-serif;
  min-width: 500px;
  width: 80%;
  min-height: 300px;
  border: solid 1px #b3b3b3;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 8px;
}

#feedbackbox input[type=text] {
  margin: 5px;
  padding: 5px;
  border-style: 1px solid #b3b3b3;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #0099FF;
  color: #ffffff;
  border: 1px solid #0066CC;
  line-height: 1.6em;
  padding: 8px;
}

footer {
  margin-top: 15px;
  font-style: italic;
  color: #909090;
  font-family: sans-serif;
}

footer a, iframe { /* github button */
  padding-top: 15px;
}
